<a href="events/{{event.id}}">
    <div class="well">
        <div class="row">
            <h3 class="col-md-8">{{event.name}}</h3>
        </div>
        <div class="row">
            <span class="col-md-3">Date:</span>
            <span>{{event.date}}</span>
        </div>
        <div class="row">
            <span class="col-md-3">Time:</span>
            <span>{{event.time}}</span>
        </div>
        <div class="row">
            <span class="col-md-3">Location:</span>
            <span>{{event.location.address}}</span>
        </div>
        <div class="row">
            <span class="col-md-3">&nbsp;</span>
            <span>{{event.location.city}}, {{event.location.province}}</span>
        </div>
    </div>
</a>