<div class="col-sm-1 votingWidget">
    <div class="votingButton" ng-click="upvote()">
        <i class="glyphicon glyphicon-chevron-up"></i>
    </div>
    <div class="badge">
        <div>{{count}}</div>
    </div>
    <div class="votingButton" ng-click="downvote()">
        <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
</div>