/* app css stylesheet */
.hoverwell:hover {
    background-color: #52575c;
    cursor: pointer;
}

select, textarea {
    color: #52575c;
}

.well-title {
    margin-top: 0px;
}

.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
    height: 64px;
    padding: 4px;
}

.votingButton {
    padding-left: 5px;
    cursor: pointer;
}

.votingBadge {
    padding-left: 6px;
}

.sessionThumbnail {
    height: 100%;
    overflow: hidden;
}

.calendar {
    border: 1px solid #555;
    width: 238px;
}

.calendar .row {
    margin-left: 0px;
}

.calendar .row div {
    float: left;
    padding: 2px;
    width: 30px;
    text-align: center;
}

.calendar-nav-left {
    float: left;
    width: 20px;
    padding: 2px;
}

.calendar-nav-right {
    float: left;
    width: 20px;
    padding: 2px;
    text-align: right;
}

.calendar .row .calendar-hdr {
    padding: 2px;
    float: left;
    width: 166px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

/*.date-picker {*/
    /*position: absolute;*/
    /*top: -7px;*/
    /*left: 209px;*/
    /*background-color: #272b30;*/
/*}*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.blue {
    color: blue;
}
a:hover{
    text-decoration: none;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}