
/*  Material design app css */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/*.ify-toolbar-menu{*/
    /*background-color: transparent!important;*/
/*}*/
/*.ify-toolbar-menu button{*/

/*}*/
.pointer {
    cursor: pointer;
}