<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
    <div ng-controller="CacheSampleController" class="row" style="padding-top: 20px;">
        <div class="form-group col-md-3">
            <label for="cacheKey">Key</label>
            <input type="text" ng-model="key" class="form-control" id="cacheKey"/>
            <label for="cacheValue">Value</label>
            <input type="text" ng-model="value" class="form-control" id="cacheValue"/><br/>
            <button type="button" class="btn" ng-click="addToCache(key, value)">Add to cache</button>
        </div>
        <div class="form-group col-md-3">
            <label for="cacheKeyToRead">Key to read</label>
            <input id="cacheKeyToRead" class="form-control"  type="text" ng-model="keyToRead"/><br/>
            <h5><b>Value from cache: </b>{{readFromCache(keyToRead)}}</h5>
            <h5><b>Cache Stats:</b> {{getCacheStats()}}</h5>
        </div>

    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/CacheSampleController.js"></script>

</body>
</html>