<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container" style="padding-top: 20px;">
    <div ng-controller="CompileSampleController" class="row" style="padding-top: 20px;">
        <div class="row">
            <span id="appendHere" class="bg-info col-md-offset-1"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="nameId">Name:</label>
                <input id="nameId" type="text" ng-model="name" class="form-control"/>
                <label for="markupId">Markup:</label>
                <input id="markupId" type="text" ng-model="markup" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-info col-md-offset-1" ng-click="appendDivToElement(markup)">Append</button>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/CompileSampleController.js"></script>
</body>
</html>