<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container" style="padding-top: 20px;">
    <div ng-controller="CookieStoreSampleController" class="row" style="padding-top: 20px;">
        <div class="row">
       <div class="btn-group">
           <button class="btn" ng-click="saveEventCookie(event)">Store Cookie</button>
           <button class="btn" ng-click="getEventCookie()">Get Cookie</button>
           <button class="btn" ng-click="removeEventCookie()">Remove Cookie</button>
       </div>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/CookieStoreSampleController.js"></script>
</body>
</html>