<html lang="en" ng-app="eventsApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
Text to repeat: <input type="text" ng-model="text"/>

<div repeat-x="5" text='{{text}}'>{{text}}</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/directives/repeatx.js"></script>
</body>
</html>