<html lang="en" ng-app="eventsApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="container-fluid" ng-controller="EditProfileController">
    <form name="profileForm">
        <div class="row">
            <div class="col-md-3">
                <gravatar email="{{user.emailAddress}}"/>
                <!--<img ng-src="{{getGravatarUrl(user.emailAddress)}}" src=""/>-->
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="userName">User Name:</label>
                    <input class="form-control" focus id="userName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username"
                           ng-model="user.userName"/>
                    <label for="password">Password:</label>
                    <input id="password" class="form-control" required type="password" placeholder="Password" ng-model="user.password"/>
                </div>
                <div style="margin-top:15px">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input id="name" class="form-control" type="text" placeholder="Name" ng-model="user.name"/>
                        <label for="emailAddress">Email Address:</label>
                        <input id="emailAddress" class="form-control" type="email" placeholder="Email Address" ng-model="user.emailAddress"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 form-group">
                <label for="bio">Bio:</label>
                <textarea id="bio" rows="6" class="form-control" style="width:97%; color:#52575c" placeholder="Bio" ng-model="user.bio"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-3 col-md-offset-3">
                <div class="pull-left">
                    <span class="btn btn-warning">Cancel</span>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/EditProfileController.js"></script>
<script src="js/services/EventData.js"></script>
<script src="js/services/GravatarUrlBuilder.js"></script>
<script src="js/directives/gravatar.js"></script>
<script src="js/filters/filters.js"></script>

</body>
</html>