<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-cloak>
<div class="container">
    <div class="navbar navbar-default">
        <ul class="nav">
            <li><a href="/NewEvent.html">Create Event</a></li>
        </ul>
    </div>
    <div ng-controller="EventController" style="padding-left: 20px; padding-right: 20px;">
        <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>
        <br/>
        <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
        <div class="row">
            <div class="col-sm-11">
                <h2 ng-style="mystyle">{{event.name | uppercase}}</h2>

                <h2>{{event.date}}</h2>
                <h4 ng-class="myclass">{{event.date| date:'dd/MM/yyyy'}}</h4>
            </div>
        </div>
        <div>{{3.14565654546 | number:2}}</div>
        <div>{{ {a:3, b:'hi', c:{aa:35} } | json }}</div>
        <button class="btn" ng-disabled="buttonDisabled">Disabled</button>

        <div ng-non-bindable>{{1+2}}</div>
        <div ng-bind-html="snippet">Some Title</div>
        <h2 ng-show="boolValue">Show This</h2>

        <h2 ng-hide="boolValue">Hide This</h2>

        <div class="row">
            <div class="col-sm-3">
                <div><strong>Date:</strong>{{event.date}}</div>
                <div><strong>Time:</strong>{{event.time}}</div>
                <div><strong>Prince:</strong>{{35 | currency}}</div>
            </div>30168
            <div class="col-sm-4">
                <address>
                    <strong>Address:</strong><br/>
                    {{event.location.address}}<br/>
                    {{event.location.city}}, {{event.location.province}}
                </address>
            </div>
            </di>
        </div>
        <hr/>
        <h3>Sessions</h3>
        <select ng-model="sortOrder" class="input-sm">
            <option selected value="name">Name</option>
            <option selected value="-upVoteCount">Votes</option>
        </select>
        <select ng-model="query.level" class="input-sm">
            <option selected="selected" value="all">All</option>
            <option value="introductory">Introductory</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
        <ul class="list-group">
            <li class="list-group-item well" id="session{{session.id}}" ng-repeat="session in event.sessions | orderBy:sortOrder | limitTo:10 | filter:query">
                <div class="row session">
                    <div class="col-sm-1 votingWidget">
                        <div class="votingButton" ng-click="upVoteSession(session)">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </div>
                        <div class="badge">
                            <div>{{session.upVoteCount}}</div>
                        </div>
                        <div class="votingButton" ng-click="downVoteSession(session)">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <h4 class="panel-title">
                            {{session.name}}
                        </h4>
                        <h6>
                            {{session.creatorName}}
                        </h6>
                        <span>Duration: {{session.duration | durations}}</span><br/>
                        <span>Level: {{session.level}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller/EventController.js"></script>
        <script src="js/services/EventData.js"></script>
        <script src="js/filters/filters.js"></script>
</body>
</html>