<!DOCTYPE html>
<html lang="en" ng-app="contactManager">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!--<link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.css">-->
    <link rel="stylesheet" href="css/material.css">
    <title>Contact Manager</title>
</head>
<body layout-padding ng-cloak ng-controller="ContactManagerCtrl as mCtrl">
<md-content>
    <div layout="row" layout-align="end">
        <span class="badge">Sergiu Z.</span>
    </div>
    <md-toolbar class="md-menu-toolbar" layout-align="end" layout="row">
        <md-menu-bar layout="row" layout-align="space-around center">
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>rechercher</label>
                <md-icon class="pointer" md-svg-src="bower_components/angular-material/demos/icon/demoSvgIconSets/assets/search.svg"></md-icon>
                <!--<md-icon md-font-icon="search" />-->
                <input ng-model="user.name" type="text">
            </md-input-container>
            <md-button>
                Personalisation
            </md-button>
            <md-button>
                documentation
            </md-button>
            <md-button>
                a propos de
            </md-button>
            <md-button>
                deconnexion
            </md-button>
            <!--<md-button class="md-fab" aria-label="Eat cake">-->
            <!--<md-icon md-svg-src="bower_components/angular-material/demos/icon/demoSvgIconSets/assets/cake.svg"></md-icon>-->
            <!--</md-button>-->
        </md-menu-bar>
    </md-toolbar>
    <div layout="row" layout-align="center center" layout-padding>
        <div flex-xs flex-gt-xs="45" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Medium</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="45" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Medium</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div layout="row" layout-align="center center" layout-padding>
        <div flex-xs flex-gt-xs="30" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Medium</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="30" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Medium</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="30" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Medium</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/ContactManagerCtrl.js"></script>
</body>
</html>