<div style="padding-left: 20px; padding-right: 20px;">
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>
    <br/>

    <button class="btn btn-info" ng-click="reload()">Reload</button>

    <div class="row">
        <div class="col-sm-11">
            <h2 ng-style="mystyle">{{event.name | uppercase}}</h2>

            <h2>{{event.date}}</h2>
            <h4 ng-class="myclass">{{event.date| date:'dd/MM/yyyy'}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div><strong>Date:</strong>{{event.date}}</div>
            <div><strong>Time:</strong>{{event.time}}</div>
            <div><strong>Prince:</strong>{{35 | currency}}</div>
        </div>
        30168
        <div class="col-sm-4">
            <address>
                <strong>Address:</strong><br/>
                {{event.location.address}}<br/>
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>
        </di>
    </div>
    <hr/>
</div>
<h3>Sessions</h3>
<select ng-model="sortOrder" class="input-sm">
    <option selected value="name">Name</option>
    <option selected value="-upVoteCount">Votes</option>
</select>
<select ng-model="query.level" class="input-sm">
    <option selected="selected" value="all">All</option>
    <option value="introductory">Introductory</option>
    <option value="intermediate">Intermediate</option>
    <option value="advanced">Advanced</option>
</select>
<ul class="list-group">
    <li class="list-group-item well" id="session{{session.id}}" ng-repeat="session in event.sessions | orderBy:sortOrder | limitTo:10 | filter:query">
        <div class="row session">
            <upvote upvote="upVoteSession(session)" downVoteSession="downVoteSession(session)" count="session.upVoteCount"/>

            <div class="col-sm-9">
                <!--<h4 class="panel-title">-->
                <!--{{session.name}}-->
                <!--</h4>-->
                <collapsible title="{{session.name}}">
                    <h6>
                        {{session.creatorName}}
                    </h6>
                    <span>Duration: {{session.duration | durations}}</span><br/>
                    <span>Level: {{session.level}}</span>
                </collapsible>
            </div>
        </div>
    </li>
</ul>