<div>
    <div class="container">
        <h1>New Event</h1>
        <hr/>
        <form class="col-md-4" name="newEventForm">
            <div class="form-group">
                <label for="eventName">Event Name:</label>
                <input id="eventName" class="form-control" type="text" ng-model="event.name" required placeholder="Name of your event..."/>
            </div>
            <div class="form-group">
                <label for="eventDate">Event Date:</label>
                <input id="eventDate" type="text" date-picker date-keys class="form-control" ng-model="event.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/"
                       placeholder="format (mm/dd/yyy)"/>
                <date-picker for="eventDate"/>
            </div>
            <div class="form-group">
                <label for="eventTime">Event Time:</label>
                <input id="eventTime" type="text" class="form-control" ng-model="event.time" placeholder="start and end time..."/>
            </div>
            <div class="form-group">
                <label for="eventLocation">Event Location:</label>
                <input id="eventLocation" type="text" class="form-control" ng-model="event.location.address" placeholder="Address of event..."/>
                <br/>

                <div class="form-group form-inline">
                    <input id="eventCity" type="text" class="input-sm form-control col-sm-6" ng-model="event.location.city" placeholder="City..."/>
                    <input id="eventProvince" type="text" class="input-sm form-control col-sm-6 pull-right" ng-model="event.location.province"
                           placeholder="Province..."/>
                </div>
            </div>
            <br/>
            <label for="eventImageUrl">Image:</label>
            <input id="eventImageUrl" ng-model="event.imageUrl" type="url" class="input-lg form-control" placeholder="Url of image..."/>
            <br/>
            <img ng-src="{{event.imageUrl}}" src=""/>
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>